*{
  background-color: antiquewhite;
  margin:0;
  padding:0;
  box-sizing: border-box;
}

header{
  text-align: center;
  margin-top: 20px;
}

ul{
  list-style: none;
}

li{
  margin:5px;
  padding: 5px;
}

button{
  margin:10px;
  padding:2px;
}

.list{
  border: 2px solid black;
  border-radius: 5px;
  margin: 40px;
}

.DoneText{
  text-decoration: line-through;
  color:red;
}

